# Assignment: Programming Review
## Do Q1 and one other question.

**Q1.** First, think about your priorities in life. What kind of salary do you want to make after graduation? Do you mind getting more schooling? What kind of work-life balance are you looking for? Where do you want to work, geographically? You don't have to write this down here, just think about it.

1. Go to the Occupational Outlook Handbook at [https://www.bls.gov/ooh/](https://www.bls.gov/ooh/). Look up "Data Scientist." Read about the job and start collecting data about it from the job profile (e.g. salary, education required, work setting)
2. Find 7-10 other jobs that appeal to you, and collect the same data as you did for Data Scientist. Put it all in a spreadsheet.
3. Do any of your findings surprise you?
4. Rank the jobs you picked from best to worst, and briefly explain why you did so.
5. Please submit your spreadsheet with the assignment --- you can "de-identify" it and remove anything that you find personally identifying or you don't want to share, of course. We'll play with these data later.

Depends on student opinions.

1. Go to the Occupational Outlook Handbook at https://www.bls.gov/ooh/. Look up "Data Scientist." Read about the job and start collecting data about it from the job profile (e.g. salary, education required, work setting)

In [ ]:
import pandas as pd

url = 'https://github.com/deancuva/programming/raw/main/JobRankings.csv'
jobs = pd.read_csv(url)
jobs.head(1)

,Role Title,Salary,Entry-level Education,Work Setting,Years of Experience,Growth Rate,Job Ranking
0,Data Scientist,"$108,020",Bachelor's,Office,0,36%,1

2. Find 7-10 other jobs that appeal to you, and collect the same data as you did for Data Scientist. Put it all in a spreadsheet.

In [ ]:
jobs

,Role Title,Salary,Entry-level Education,Work Setting,Years of Experience,Growth Rate,Job Ranking
0,Data Scientist,"$108,020",Bachelor's,Office,0,36%,1
1,Management Consultant,"$99,410",Bachelor's,Travel/Office,5,11%,3
2,Data Architect,"$117,450",Bachelor's,Office,0,9%,4
3,Investment Banker,"$76,900",Bachelor's,Office,0,7%,5
4,IT Programmer,"$99,700",Bachelor's,Office,0,-10%,7
5,Financial Risk Analyst,"$99,890",Bachelor's,Office,0,9%,2
6,Financial Accountant,"$79,880",Bachelor's,Office,0,6%,6
7,Athletic Trainer,"$57,930",Master's,Office,0,13%,8

3. Do any of your findings surprise you?

I was personally surprised by the average figures for some of the jobs. I understand that compensation varies greatly based on the company that you're employed by, as well as a myriad of other factors. That being said, it did seem like some of the average expected salaries were far lower than I would have anticipated after spending time in the Commerce school. Additionally, the years of experience for some jobs seemed inconsistent with my expectations.

4. Rank the jobs you picked from best to worst, and briefly explain why you did so.

In [ ]:
rankings_sorted = jobs.sort_values(by='Job Ranking')
rankings_sorted

,Role Title,Salary,Entry-level Education,Work Setting,Years of Experience,Growth Rate,Job Ranking
0,Data Scientist,"$108,020",Bachelor's,Office,0,36%,1
5,Financial Risk Analyst,"$99,890",Bachelor's,Office,0,9%,2
1,Management Consultant,"$99,410",Bachelor's,Travel/Office,5,11%,3
2,Data Architect,"$117,450",Bachelor's,Office,0,9%,4
3,Investment Banker,"$76,900",Bachelor's,Office,0,7%,5
6,Financial Accountant,"$79,880",Bachelor's,Office,0,6%,6
4,IT Programmer,"$99,700",Bachelor's,Office,0,-10%,7
7,Athletic Trainer,"$57,930",Master's,Office,0,13%,8

I ranked the jobs that I selected in this way primarily based on personal interest in the field and compensation. Secondarily, I focused on the industry growth rate, as this affects the opportunities that you are afforded, and I assumed that shrinking industries would be partial to incumbents with experience, as opposed to recent graduates. Additionally, I considered the educational barrier to entry and the years of experiences necessary. If there are obstacles to clear, this affected the ranking I assigned, as it would be difficult for me to pursue these opportunities following my undergraduate education.

5. Upload CSV file -- Titled JobRankings.csv

**Q2.** Being able to make basic plots to visualize sets of points is really helpful, particularly with data analysis. The pyplot plots are built up slowly by defining elements of the plot, and then using `plt.show()` to create the final plot. This question gives you some practice doing that **iterative** building process.

1. Import the `numpy` module as `np` and the `matplotlib.pyplot` package as `plt`.
2. Use `np.linspace` to create a grid of 50 points ranging from 0 to 1.
3. Create a numpy array $y$ containing the values for the natural logarithm function using the `np.log(x)` function. Create a numpy array $z$ containing the values for the exponential function using the `np.exp(x)` function.
4. Use the `plt.scatter(x,y)` method for the $y$ and $z$ vectors to create two scatter plots of the points you've created.
5. Use the `plt.show()` method to create the plot.

That plot has some problems.

6. Before the `plt.show()` call, add labels to the $x$ and $y$ axes using `plt.xlabel(label)` and `plt.ylabel(label)`. Add a title to the graph using `plt.title(title)`, like "Natural Log and Exponential Functions".
7. That looks a lot better, but we need a legend. When you screate the scatter plots, add the argument `label='Natural Log'` or `label='Exponential'` to the `.scatter` method call. Before the `plt.show()` call, add a `plt.legend(loc = 'lower right')` method call, which creates a legend in the lower right.

Now do it again, with slightly less direction:

8. Create a grid of 100 equally spaced points ranging from -6.5 to 6.5.
9. Use the sine and cosine functions in Numpy to compute the values of those functions for each point on your grid. (You'll have to find out what those functions are.)
10. Plot the values of the two functions for the values on the grid on the same plot.
11. The scatter plot looks really noisy. Instead of `plt.scatter(x,y)` to make a scatter plot, use `plt.plot(x,y)` to make a line graph.
12. Make the plot again, with labels for the axes, a title, and a legend in the lower left instead of the lower right.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

2. Use np.linspace to create a grid of 50 points ranging from 0 to 1.

In [ ]:
grid = np.linspace(0, 1, 50)
print(grid)

3. Create a numpy array containing the values for the natural logarithm function using the np.log(x) function. Create a numpy array containing the values for the exponential function using the np.exp(x) function.

In [ ]:
log_array = np.log(grid)
print(log_array)

In [ ]:
exp_array = np.exp(grid)
print(exp_array)

4. Use the plt.scatter(x,y) method for the and vectors to create two scatter plots of the points you've created.

5. Use the plt.show() method to create the plot.

In [ ]:
plt.scatter(grid,log_array)
plt.scatter(grid,exp_array)
plt.show()

6. Before the plt.show() call, add labels to the and axes using plt.xlabel(label) and plt.ylabel(label). Add a title to the graph using plt.title(title), like "Natural Log and Exponential Functions".

In [ ]:
grid2 = np.linspace(0, 1, 50)
log_array2 = np.log(grid2)
exp_array2 = np.exp(grid2)
plt.scatter(grid2, log_array2, label = "Natural Logarithm")
plt.scatter(gri2, exp_array2, label = "Exponential")
plt.title("Natural Logarithm and Exponential Functions")
plt.xlabel("X")
plt.ylabel("Y")
plt.show()

7. That looks a lot better, but we need a legend. When you screate the scatter plots, add the argument label='Natural Log' or label='Exponential' to the .scatter method call. Before the plt.show() call, add a plt.legend(loc = 'lower right') method call, which creates a legend in the lower right.

In [ ]:
grid3 = np.linspace(0, 1, 50)
log_array3 = np.log(grid3)
exp_array3 = np.exp(grid3)
plt.scatter(grid3, log_array3, label = "Natural Logarithm")
plt.scatter(grid3, exp_array3, label = "Exponential")
plt.title("Natural Logarithm and Exponential Functions")
plt.xlabel("X")
plt.ylabel("Y")
plt.legend(loc = "lower right")
plt.show

8. Create a grid of 100 equally spaced points ranging from -6.5 to 6.5.

In [ ]:
grid4 = np.linspace(-6.5, 6.5, 100)
grid4

9. Use the sine and cosine functions in Numpy to compute the values of those functions for each point on your grid. (You'll have to find out what those functions are.)

In [ ]:
sine_arr = np.sin(grid4)
cosine_arr = np.cos(grid4)

10. Plot the values of the two functions for the values on the grid on the same plot.

In [ ]:
plt.scatter(grid4, sine_arr, label = "Sine")
plt.scatter(grid4, cosine_arr, label = "Cosine")
plt.show

11. The scatter plot looks really noisy. Instead of plt.scatter(x,y) to make a scatter plot, use plt.plot(x,y) to make a line graph.

In [ ]:
plt.plot(grid4, sine_arr, label = "Sine")
plt.plot(grid4, cosine_arr, label = "Cosine")
plt.show

12. Make the plot again, with labels for the axes, a title, and a legend in the lower left instead of the lower right.

In [ ]:
plt.plot(grid4, sine_arr, label = "Sine")
plt.plot(grid4, cosine_arr, label = "Cosine")
plt.title("Sine and Cosine Functions")
plt.xlabel("X")
plt.ylabel("Y")
plt.legend(loc = "lower left")
plt.show